@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1{
	text-align: center;
	font-family: 'Press Start 2P', monospace;
  	font-size: 40px;      
  	line-height: 1.1;
  	letter-spacing: 0.02em;
  	text-transform: none;
  	-webkit-font-smoothing: none; 
  	-moz-osx-font-smoothing: grayscale;
  	text-rendering: optimizeSpeed;
  	image-rendering: pixelated;
  	color: #F2C76E;
	margin-top: 25;
	}
html{
	background-image: url("../Design/backgroundgif.gif");
	background-repeat: no-repeat;
	background-size: cover;
}
a.jouer{
	margin-left: 750;
	font-size: 45;
	color: #F8F5E8;
	outline: none;
	text-decoration: none;
	font-family: 'Press Start 2P', monospace;
	font-weight: 0;
	margin-top: 50;

}
.jouer:hover{
	color: black;
}
a.version{
	color: white;
	margin-top: 450;
	margin-left: -1200;
	font-family: Andale Mono, monospace;
}
.box{
	display: flex;
	flex-wrap: wrap;
}
